/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #266150;
$primary-color: #123C69;
$info-color: #3F83CC;
$success-color: #8ECF81;
$secondary-color: #DDAF94;
$light-color: #E8CEBF;
$white-color: #fdf8f5;
$dark-color: #47333B;
$grey-color: #47333B;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
