/* Default font */

/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #1CD9C7;
$success-color: #00D88A;
$secondary-color: #ED68E5;
$primary-color: #1A2636;
$info-color: #008EF4;
$light-color: #ECECEC;
$white-color: #FFFFFF;
$black-color:#1F2225;
$dark-color: #262626;
$grey-color: #999999;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399.98px;
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
